extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main
  if(listSubCategory.length > 0)
    .container-home
      .inner-wrap
        .category
          .menu
            .inner-title
              p Danh mục
            .sub-menu
              ul
                each item in listSubCategory
                  li 
                    a(href=`/products/${item.slug}`)
                      .inner-image 
                        img(src=item.thumbnail)
                      .inner-titleCategory #{item.title} 
        .content
          .container.my-5                
            .row
              .col-12
                +box-head(titlePage)
            +product-grid(products)
  else 
    .container.my-5                
      .row
        .col-12
          +box-head(titlePage)
      +product-grid(products)


